{% extends 'base.html' %}

{% block content %}
  <h2>Recommended Playlist</h2>

  <!-- Display time frame options -->
  <div>
    <p>Select time frame:</p>
    <a href="{{ url_for('recommended_playlist', time_range='long_term') }}">All Time</a>
    <a href="{{ url_for('recommended_playlist', time_range='medium_term') }}">Last 6 Months</a>
    <a href="{{ url_for('recommended_playlist', time_range='short_term') }}">Last 4 Weeks</a>
  </div>

  {% if playlist_tracks and 'items' in playlist_tracks %}
    <ul class="track-list">
      {% for track in playlist_tracks['items'] %}
        <li class="track-item">
          <img src="{{ track['track']['album']['images'][0]['url'] }}" alt="{{ track['track']['name'] }}">
          <div class="details">
            <p class="title">{{ track['track']['name'] }}</p>
            <p class="artist">
              {% if track['track']['artists'] %}
                {{ track['track']['artists'][0]['name'] }}
              {% else %}
                Unknown Artist
              {% endif %}
            </p>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No recommended playlist available.</p>
  {% endif %}
{% endblock %}
