{% extends 'base.html' %}

{% block content %}
  <h2>Recommended Playlist</h2>
  {% if playlist_tracks and 'items' in playlist_tracks %}
    <ul>
      {% for track in playlist_tracks['items'] %}
        <li>
          {{ track['track']['name'] }} by
          {% if track['track']['artists'] %}
            {{ track['track']['artists'][0]['name'] }}  {# Assuming there is at least one artist in the list #}
          {% else %}
            Unknown Artist
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No recommended playlist available.</p>
  {% endif %}
{% endblock %}
