{% extends 'base.html' %}

{% block title %}Success - Your App{% endblock %}

{% block content %}
    <div class="profile-container">
        {% if profile_image %}
            <div>
                <img src="{{ profile_image }}" alt="Profile Image" class="profile-picture">
            </div>
        {% else %}
            <p>No profile picture available.</p>
        {% endif %}
    </div>
    <h1 style="text-align: center;">Welcome to Wrap'd, {{ username }}!</h1>
    <p>You have successfully logged in to Spotify and can now explore the features of WRAP'd.</p>
    <p>Check out the navigation links above and enjoy!</p>
    <p><br><br>
        <small>Please note that the "Logout" button will only log you out of your WRAP'd session.<br>
        To remove permissions for WRAP'd from your Spotify account, you will have to access your settings
            through <a href="https://www.spotify.com" target="_blank">Spotify</a> directly.</small>
    </p>

{% endblock %}
