<!-- top_tracks.html -->

{% extends 'base.html' %}

{% block title %}
  {% if 'spotify_user' in session %}
    {{ session['spotify_user']['display_name'] }}'s Top Tracks
  {% else %}
    Top Tracks
  {% endif %}
{% endblock %}

{% block content %}
  <h2>
    {{ session['spotify_user']['display_name'] }}'s Top Tracks
    <img src="{{ url_for('static', filename='question.png') }}" alt="Info" class="info-icon" onclick="openModal()">
  </h2>

  <!-- Display time frame options -->
  <div class="time-frame-links">
      <p>Select time frame:</p>
      <a href="{{ url_for('top_tracks', time_range='long_term') }}" class="time-range-button" {% if time_range == 'long_term' %}class="active"{% endif %}>All Time</a>
      <a href="{{ url_for('top_tracks', time_range='medium_term') }}" class="time-range-button" {% if time_range == 'medium_term' %}class="active"{% endif %}>Last 6 Months</a>
      <a href="{{ url_for('top_tracks', time_range='short_term') }}" class="time-range-button" {% if time_range == 'short_term' %}class="active"{% endif %}>Last 4 Weeks</a>
  </div>

  <!-- Top Tracks List -->
  <ul class="track-list">
    {% for track in top_tracks %}
      <li class="track-item">
        <img src="{{ track['album']['images'][0]['url'] }}" alt="{{ track['name'] }}">
        <div class="details">
          <p class="title">{{ track['name'] }}</p>
          <p class="artist">{{ track['artists'][0]['name'] }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>

  <!-- Modal -->
  <div id="infoModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h2><u>How Top Tracks Works</u></h2>
      <p>Top Tracks displays your top 25 most listened to songs based on three different time ranges:
        <br>
        <br>"short term" or <strong>Last 4 Weeks</strong>
        <br>"medium term" or <strong>Last 6 Months</strong>
        <br>"long term" or <strong>All Time</strong>
      </p>
      <p>The page defaults to Last 6 Months, but you can click each link along the top of the page to view your
        top tracks for each time range.<br>
        It sure is interesting to see how your tastes have (or <i>haven't</i>!) changed over time. </p>
    </div>
  </div>

  <style>
    .info-icon {
      width: 16px; /* Adjust the size as needed */
      height: 16px; /* Adjust the size as needed */
      cursor: pointer;
    }
  </style>

  <script>
    function openModal() {
      document.getElementById('infoModal').style.display = 'block';
    }

    function closeModal() {
      document.getElementById('infoModal').style.display = 'none';
    }
  </script>
{% endblock %}
