<!-- top_artists.html -->

{% extends 'base.html' %}

{% block title %}Top Artists{% endblock %}

{% block content %}
  <h2>
    Top Artists
    <img src="{{ url_for('static', filename='question.png') }}" alt="Info" class="info-icon" onclick="openModal()">
  </h2>


  <div class="time-frame-links">
    <a href="{{ url_for('top_artists', time_range='long_term') }}" {% if time_range == 'long_term' %}class="active"{% endif %}>All Time</a>
    <a href="{{ url_for('top_artists', time_range='medium_term') }}" {% if time_range == 'medium_term' %}class="active"{% endif %}>Last 6 Months</a>
        <a href="{{ url_for('top_artists', time_range='short_term') }}" {% if time_range == 'short_term' %}class="active"{% endif %}>Last 4 Weeks</a>
  </div>

  <ul class="artist-list">
    {% for artist in top_artists %}
      <li class="artist-item">
        {% if artist['image'] %}
          <img src="{{ artist['image'] }}" alt="{{ artist['name'] }}">
        {% else %}
          <p>No Image Available</p>
        {% endif %}
        <div class="artist-details">
          <p class="artist-name">{{ artist['name'] }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>

  <!-- Modal -->
  <div id="infoModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <p>Explanation about how the page works goes here...</p>
    </div>
  </div>

  <style>
    .info-icon {
      width: 16px; /* Adjust the size as needed */
      height: 16px; /* Adjust the size as needed */
      cursor: pointer;
    }
  </style>

  <script>
    function openModal() {
      document.getElementById('infoModal').style.display = 'block';
    }

    function closeModal() {
      document.getElementById('infoModal').style.display = 'none';
    }
  </script>

{% endblock %}
